@model IEnumerable<Enrollment>

@{
    ViewData["Title"] = "Enrollments";
}

<h1>Enrollments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Enrollment</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Course Title</th>
            <th>Course Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Student.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Student.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Course.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Course.Description)</td>
            </tr>
        }
    </tbody>
</table>

